.form-bg {
  background-color: var(--main-color-form);
}

.form-field-space {
  padding: 2rem;
}

.form-highlight-text {
  color: var(--highlight-color);
}

.form-base-text-color {
  color: var(--form-base-color);
}